@media only screen and (min-width: 768px) {

	body { 
		font: 400 1em/1.5 "Arial"; 
		background: #090d00; 
		color: white; 
		text-align: center; 
		font-weight: 700;
		margin: 0 
	}

	#title {
		// top: 10em;
		// left: 5em;
		font-family: 'Arial', sans-serif;
		color: white;
		position: absolute;
		top: 60%;
		left: 15%;
		// margin: 0 0 0 -20em;
		margin: 0 auto;
		width: 30em;
		display: inline-block;
		padding: 1.5em 0em;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 40em;
		margin: 0 0 0 -20em;
	}

	#title h1 {
		font-size: 2em;
		font-style: italic;
		border: solid white;
		padding: 0.5em;
	}

	#title p {
		margin: 2em;
		font-size: 1.25em;
	}

	#hero {
		text-transform: uppercase;
		letter-spacing: .5em;
		display: inline-block;
		border: 4px double rgba(255,255,255,.25);
		border-width: 4px 0;
		padding: 1.5em 0em;
		position: absolute;
		top: 18%;
		left: 50%;
		width: 40em;
		margin: 0 0 0 -20em;

	span {

		font: 700 3em/1 "Oswald", sans-serif;
		letter-spacing: 0;
		padding: .25em 0 .325em;
		display: block;
		margin: 0 auto;
		text-shadow: 0 0 80px rgba(255,255,255,.5);

	/* Clip Background Image */

		background: url(../animated_text_fill.png) repeat-y;
		-webkit-background-clip: text;
		background-clip: text;

	/* Animate Background Image */

		-webkit-text-fill-color: transparent;
		-webkit-animation: aitf 80s linear infinite;

	/* Activate hardware acceleration for smoother animations */

		-webkit-transform: translate3d(0,0,0);
		-webkit-backface-visibility: hidden;

	}
	}

	/* Animate Background Image */

	@-webkit-keyframes aitf {
		0% { background-position: 0% 50%; }
		100% { background-position: 100% 50%; }
	}
}

@media only screen and (max-width:767px) {
	body { 
		font: 400 1em/1.5 "Arial"; 
		background: #090d00; 
		color: white; 
		text-align: center; 
		font-weight: 700;
		margin: 0 
	}
	
	#title {
		// top: 10em;
		// left: 5em;
		font-family: 'Arial', sans-serif;
		color: white;
		position: absolute;
		top: 60%;
		left: 15%;
		// margin: 0 0 0 -20em;
		margin: 0 auto;
		width: 30em;
		display: inline-block;
		padding: 1.5em 0em;
		position: absolute;
		top: 50%;
		left: 0%;
		width: 40em;
		// margin: 0 0 0 -20em;
	}
	
	#title h1 {
		font-size: 1.5em;
		font-style: italic;
		border: solid white;
		padding: 0.5em;
		display:inline;
	}
	
	#title p {
		margin: 2em;
		font-size: 1.1em;
	}
	
	#hero {
		text-transform: uppercase;
		letter-spacing: .5em;
		display: inline-block;
		border: 4px double rgba(255,255,255,.25);
		border-width: 4px 0;
		padding: 1.5em 0em;
		position: absolute;
		top: 18%;
		left: 25%;
		width: 30em;
		// margin: 0 0 0 -20em;
	
	  span {
	
		  font: 700 2.5em/1 "Oswald", sans-serif;
		  letter-spacing: 0;
		  padding: .25em 0 .325em;
		  display: block;
		  margin: 0 auto;
		  text-shadow: 0 0 80px rgba(255,255,255,.5);
	
	/* Clip Background Image */
	
		  background: url(../animated_text_fill.png) repeat-y;
		  -webkit-background-clip: text;
		  background-clip: text;
	
	/* Animate Background Image */
	
		  -webkit-text-fill-color: transparent;
		  -webkit-animation: aitf 80s linear infinite;
	
	/* Activate hardware acceleration for smoother animations */
	
		  -webkit-transform: translate3d(0,0,0);
		  -webkit-backface-visibility: hidden;
	
	  }
	}
	
	/* Animate Background Image */
	
	@-webkit-keyframes aitf {
		0% { background-position: 0% 50%; }
		100% { background-position: 100% 50%; }
	}
}