#content {
    padding: 3em 10em;
    font-size: 1.25em;
    line-height: 1.75em;
}

#content-members {
    padding: 3em 0em;
    font-size: 1.25em;
    line-height: 1.75em;
}

.navbar {
    padding: 1.5em 4em;
}

.nav-link {
    font-size: 1.15em;
}

.blockquote {
    padding-top: 1em;
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 0em;
}

#resources li {
    font-weight: 700;
}

#content h1 {
    /* padding: 1em; */
    /* padding-left: 4em; */
    padding-bottom: 1em;
    font-size: 2.5em;
}

#content-members h1 {
    /* padding: 1em; */
    /* padding-left: 4em; */
    padding-bottom: 1em;
    font-size: 2.5em;
    padding-left: 4em;
}

.intro-banner {
    text-align: center;
    /* The image used */
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url("../assets/images/gif_hero.gif");
    /* Set a specific height */
    min-height: 640px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 13em;
}

.closing-banner {
    text-align: center;
    /* The image used */
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url("../assets/images/bg-image.jpg");
    /* Set a specific height */
    min-height: 640px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 13em;
}

.closing-banner h1 {
    font-size: 5em;
}

.closing-banner h2 {
    font-size: 4em;
    color: gray;
}

.closing-banner hr {
    /* border: 2px solid blue; */
}

.closing-banner button {
    padding: 1em;
    /* background-color: #f44242; */
}

#mc_embed_signup {
    /* background: #fff;  */
    clear:left; 
    /* font:14px Helvetica,Arial,sans-serif;  */
    width:100%;
}

.btn-custom{color:#fff;background-color:#f44242;border-color:#f44242}

.btn-custom:hover{color:#fff;background-color:#CF2424;border-color:#CF2424}
.btn-custom:focus,.btn-custom.focus{box-shadow:0 0 0 .2rem rgba(44,96,140,0.5)}
.btn-custom.disabled,
.btn-custom:disabled{color:#fff;background-color:#f44242;border-color:#f44242}
.btn-custom:not(:disabled):not(.disabled):active,
.btn-custom:not(:disabled):not(.disabled).active,
.show>.btn-custom.dropdown-toggle{color:#fff;background-color:#f44242;border-color:#000}
.btn-custom:not(:disabled):not(.disabled):active:focus,
.btn-custom:not(:disabled):not(.disabled).active:focus,
.show>.btn-custom.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(44,96,140,0.5)}

.intro-banner h1 {
    font-size: 5em;
}

.intro-banner h2 {
    font-size: 4em;
    color: gray;
}

.mission {
    padding: 5em;
}

.mission h1 {
    padding: 0em 4em 0em 4em;
}

.mission h2 {
    padding: 1em 7em;
}

.mission ul {
    font-size: 1.5em;
    list-style: none;
    margin-left: 0;
    padding-left: 10em;
    text-indent: -2.1em;
    padding-right: 12em;
}

.mission ul li {
    padding-bottom: 1.5em; 
}

.our-next-event {
    padding: 5em 15em !important;
    /* border: 5px solid white; */
    /* border-radius: 10px; */
    padding: 2em;
    background: #e9ecef;
    /* background: blue; */
}

.our-next-event h1 {
    /* padding-bottom: 0px; */
}

.our-next-event h2 {
    font-style: italic;
    font-size: 1.5em;
}

/* Image gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* grid-template-rows: repeat(8, 5vw); */
    grid-gap: 15px;
    /* padding: 2em 10em; */
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--0 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--1 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery__item--5 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}

.card img {
    /* height: 100%; */
    /* width: auto; */
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 230px;
    width: 230px;
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.card-text {
    /* padding-top: 20px; */
}

#closing {
    padding: 2.5em 3em 0.5em 6em;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* font-weight: 700; */
    color: black;
    background-color: #e9ecef;
}

#closing svg {
    padding-right: 3px;
    margin-bottom: 1.5em;
    height: 18px;
}

#closing li:hover a {
    opacity: 1 !important;
    /* background-color: blue; */
}

#closing ul {
    margin-bottom: 0;
    opacity: 1;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

#closing ul:hover a {
    opacity: .2;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

/* Maria's CSS */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/test2.png");
    height: 60vh;
    margin-top: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/team.png");
    height: 40vh;
    margin-top: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 3.8em;
    font-weight: 600;
}

.btnHero {
    background-color: #9b1200;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 250px; 
}

.hero-image .btnHero:hover {
    background-color: rgb(77, 2, 2); 
}

.card-deck {
    width: 74% !important;
}

.members {
    width:100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.eboard {
    text-align: center;
    margin-top: 75px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 3.8em;
    font-weight: 600;
}

.members .card p {
    font-family: 'Fjalla One', sans-serif !important;
}

.members .card-title {
    font-weight: bold;
}

.classYear {
    font-style: italic;
}

.col {
    background-color: #9b1200;
    color: white;
    padding: 15px;
}

.col h1 {
    font-weight: bold;
}

.col p {
    font-size: 20px;
}

.container-info {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px !important;
}

.col {
    width: 100%;
    margin: 5px !important;
    border: 12px solid #9b1200;
    border-radius: 10px;
}

.jumbotron {
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
}
  